@import "tailwindcss";

/* 가로폭 클래스들 */
.w-25 {
  width: 6rem;
}

.w-50 {
  width: 12rem;
}

.w-70 {
  width: 17.5rem;
}

.h-50 {
  height: 12rem;
}

.h-100 {
  height: 25rem;
}

.mt-30 {
  margin-top: 7.5rem;
}